<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="position: fixed; bottom: 2px; left: 0px; right: 0px;">Power</div>
<script>
    // document.getElementsByTagName("div").forEach(item=>{
    //     if(item.innerText === "Power"){
    //         item.parentNode.remove();
    //     }
    // })
    document.getElementsByTagName('div').foreach(item=>{
        if(item.innerText==='Power'){
            item.innerText='fg';
        }
    })
</script>
</body>
</html>